html
    head 
        title #{title}
    body 
        h3 Hi #{user.name},
        div You have been invited as contact for [Invitee's First name, Last nem], please click the 'Show details' button to accept or decline. 

        a(class=button url=#{url}) Show details

        br
        div Thank you,
        div - Gestalter