html
  head
    title Gestalter     
  body
    block head      
        span 
            image(src="")
            span Gestalter 
    block content
    block foot
        div
            p some footer content